.u-section-1 .u-sheet-1 {
  min-height: 204px;
}

.u-section-1 .u-text-1 {
  margin: 58px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 32px;
}.u-section-2 .u-sheet-1 {
  min-height: 117px;
}

.u-section-2 .u-btn-1 {
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 60px;
  background-image: none;
}