<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Admin Check</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style/nicepage.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static',filename='style/Admin-logged.css') }}" media="screen">
    <link rel="icon" href="/static/images/favicon.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">

    <meta property="og:title" content="Admin logged">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#ff3f5e">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
  </head>
  <body class="u-body"><header class="u-align-left u-clearfix u-header u-header" id="sec-3b2b"><div class="u-clearfix u-sheet u-sheet-1">
        <a href="https://meraki.cisco.com" class="u-image u-logo u-image-1">
          <img src="{{ url_for('static',filename='/images/default-logo.png') }}" class="u-logo-image u-logo-image-1">
        </a>
        <a href="/" class="u-active-none u-border-2 u-border-active-palette-2-dark-1 u-border-custom-color-1 u-border-hover-palette-2-base u-btn u-button-style u-hover-none u-none u-text-custom-color-1 u-text-hover-palette-2-base u-btn-1">Captive Portal</a>
      </div></header>
    <section class="u-clearfix u-section-1" id="sec-0eb4">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center u-text u-text-1">{{Admin_Name}}</h1>
        <h4 class="u-align-center u-text u-text-2">Here is the status of your DataBase and Meraki API Key entered</h4>
      </div>

    <section class="u-align-left u-clearfix u-section-2" id="sec-b530">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-center u-form u-form-1">
          <form action="/Admin" class="u-clearfix u-form-spacing-12 u-form-vertical u-inner-form" style="padding: 7px;" source="custom" name="form">
            <div class="u-clearfix u-sheet u-sheet-1">
              <h5 class="u-align-center u-text u-text-2">API Key is {{api_status}}</h5>
              <h5 class="u-align-center u-text u-text-2">MySQL Database is {{db_status}}</h5>
              <button class="u-btn u-btn-submit u-button-style u-custom-color-1 u-btn-1">Back</button>
            </div>
          </form>
        </div>
      </div>
    </section>

  </body>
</html>
